services:
  app:
    build: .
    environment:
      DATABASE_ENGINE: postgresql+psycopg2://${POSTGERS_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGERS_USER}
    ports:
      - 8002:80
    depends_on:
      - db

  db:
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGERS_USER:
      POSTGRES_PASSWORD:
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - 5434:5432

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

volumes:
  db-data: